section.hobbies{
    margin: 0 8.1% 5%;
 }
 
 .hobbies__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
 }
 
 .hobbies__line {
    display: flex;
    flex-wrap: wrap;
 }
 
 .hobbies__box {
    width: 11%;
    height: 10%;
    background: var(--branco);
    border-radius: 1rem;
    margin-right: 11.25%;
    margin-top: 1%;
 }

 .hobbies__box:nth-child(4n+5) {
   margin-right: 0;
}
 
 .hobbies__imagem {
    padding-left: 1rem;
    padding-top: 6rem;
 }
 
 .hobbies__name {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
 }

 @media (max-width: 768px) {
   section.hobbies{
      margin: 0 0 2rem;
   }

   .hobbies__titulo {
      font-size: 1.3rem;
      padding-bottom: 0;
   }

   .hobbies__line {
      justify-content: flex-start;
      padding-top: 0;
   }

   .hobbies__box {
      width: 13.5rem;
      height: 118px;
      margin-left: 4%;
      margin-top: 2rem;
   }

   .hobbies__imagem {
      padding-top: 3rem;
   }
   
}

@media (max-width: 425px) {
   .hobbies__box {
      width: 9.5rem;
      margin-left: 2rem;
   }

}