section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 9.5rem 4.2rem;
 }
 
 .cabecalho {
    display: flex;
 }

 .cabecalho img {
   max-width: 24px;
   width: auto;
   max-height: 24px;
   height: auto;
 }
 
 .cabecalho_nome {
    padding: 0 0.7rem;
    align-self: center;
    font-weight: bold;
 }
 
 .menu_lista {
    display: flex;
 }
 
 .menu_lista_item {
    padding: 0 1.5rem;
 }
 
 .menu_lista_contato {
    font-weight: bold;
 }


@media (max-width: 768px) {

   section.menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0 0;
      margin: 0;
   }
      
   .cabecalho {
      display: flex;
      padding-left: 2rem;
   }

   .menu_lista_item {
        display: none;
     }
   .menu_lista_contato {
        font-weight: bold;
        display: flex;
        color: var(--cor-fonte);
     }
    
}

@media (max-width: 425px) {
   .menu_lista_contato {
      font-weight: bold;
      display: flex;
      color: var(--cor-fonte);
      font-size: 0.9rem;
   }

}