section.skills {
    margin: 0 4rem 5.5rem;
 }
 
 .skills_titulo {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
    text-align: center;
 }
 
 .skills_line {
    display: flex;
    justify-content: space-around;
 }
 
 .skills_box {
    width: 11rem;
    height: 11rem;
    background: var(--branco);
    border-radius: 1rem;
 }
 
 .skills_imagem {
    padding-left: 1rem;
    padding-top: 6rem;
 }
 
 .skills_name {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-weight: bold;
 }

 @media (max-width: 768px) {
   section.skills {
      margin: 0 0 6rem;
   }

   .skills_line {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: 268px;
   }

   .skills_titulo {
      font-size: 1.3rem;
      font-weight: bold;
      padding-bottom: 0;
      text-align: center;
   }

   .skills_box {
      width: 13.5rem;
      height: 118px;
      background: var(--branco);
      border-radius: 1rem;
      margin-left: 4%;
      margin-top: 2rem;
   }

   .skills_imagem {
      padding-left: 1rem;
      padding-top: 3rem;
   }
   
}

@media (max-width: 425px) {
   .skills_line {
      display: flex;
      justify-content: flex-start;
      
      height: 268px;
   }

   .skills_box {
      width: 9.5rem;
      height: 118px;
      background: var(--branco);
      border-radius: 1rem;
      margin-left: 2rem;
      margin-top: 2rem;
   }

}