section.sobre{
    background: var(--cor-de-fundo2);
    display: flex;
    margin-bottom: 2rem;
    max-width: 100vw;
    width: auto;
 }
 
 .sobre__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 40vw;
    width: auto;
    margin: 4rem 8% 4rem;
 }
 
 .sobre__titulo {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
 }
 
 .sobre__paragrafo {
    line-height: 1.5rem;
    text-align: justify;
 }

 .sobre__assinatura {
   font-family: "Cherish",cursive;
   font-size: 2rem;
   color: black;
   padding-top: 1rem;
 }



 @media (max-width: 768px) {
   .sobre__container {
      max-width: 100vw;
      margin: 2rem 2rem 2rem;
   }

   .sobre__titulo {
      font-size: 1.3rem;
   }

   .sobre__paragrafo {
      font-size: 0.9rem;
   }

   .sobre__assinatura {
      font-size: 1rem;
    }
}