section.titulo{
    margin-bottom: 2rem;
    margin-left: 9.5rem;
    margin-right: 9.5rem;
    margin-top: 2rem;
 }
 
 .titulo_div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
 }
 
 .titulo_imagem {
    margin-left: 1rem;
 }
 
 .titulo_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 
 .titulo_bio {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: justify;
 }
 
 .titulo_descricao {
    font-size: 1.4rem;
    margin-bottom: 1.7rem;
    text-align: justify;
 }
 
 .titulo_redes {
    display: flex;
    justify-content: flex-start;
 }
 
 .titulo_redes_item {
    padding-right:2.5rem;
 }

 @media (max-width: 768px) {
   section.titulo{
      margin-bottom: 2rem;
      margin-left: 2rem;
      width: 93vw;
   }

   .titulo_div {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
   }

   .titulo_imagem {
      margin-left: 1rem;
      max-width: 146px;
      width: auto;
      max-height: 146px;
      height: auto;
   }

   .titulo_bio {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: justify;
      margin-right: 2rem;
   }

   .titulo_descricao {
      font-size: 1rem;
      text-align: justify;
      margin-bottom: 1rem;
   }
   
}

@media (max-width: 425px) {
   .titulo_div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
 }

   .titulo_imagem {
      max-width: 98px;
      width: auto;
      max-height: 98px;
      height: auto;
      margin-bottom: 1rem;
      margin-left: 0;
   }

   .titulo_descricao {
      font-size: 1rem;
      text-align: justify;
      margin-bottom: 1rem;
      margin-right: 2rem;
  }


}
