section.xp{
    text-align: center;
    margin-bottom: 2%;
 }
 
 .xp__section--titulo {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2%;
 }
 
 .xp__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8%;
 }
 
 .xp__imagem {
    max-width: 47rem;
    width: 100%;
    box-shadow: 0px 4px 4px var(--cor-sombra);
    margin-right: 1%;
 }
 
 .xp__info {
    text-align: justify;
 }
 
 .xp__titulo {
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 1.4rem;
 }
 
 .xp__texto {
    padding-bottom: 3%;
 }
 
 .xp__description {
    display: flex;
    justify-content: flex-start;
 }
 
 .xp__repo {
    margin-right: 1rem;
    cursor: pointer;
    max-width: 96px;
    width: 100%;
 }
 
 .xp__botao--repo {
    background-color: none;
    padding: 1rem 1rem;
    border: solid 1px var(--cor-botao);
    color: var(--cor-botao);
    cursor: pointer;
    max-width: 96px;
    width: auto;
    max-height: 48px;
    height: auto;
    border-radius: 4px;
 }
 
 .xp__botao--repo:hover {
   box-shadow: 2px 4px 1px var(--cor-sombra);
 }
 
 .xp__demo {
    max-width: 96px;
    width: auto;
    max-height: 48px;
    height: auto;
 }
 
 .xp__botao--demo {
    padding: 1rem 1rem;
    background-color: var(--cor-botao);
    border: solid 1px var(--cor-botao);
    color: var(--branco);
    cursor: pointer;
    border-radius: 4px;
 }
 
 .xp__botao--demo:hover {
   box-shadow: 2px 4px 1px var(--cor-sombra);
 }

 @media (max-width: 768px) {
   .xp__section_titulo {
      font-size: 1.3rem;
      padding-bottom: 1rem;
   }

   .xp__box {
      flex-direction: column;
      align-items: flex-start;
      margin:0 2rem;
   }

   .xp__imagem {
      max-width: 44rem;
      margin-bottom: 1rem;
   }

   .xp__titulo {
      padding-bottom: 0.5rem;
      font-size: 1rem;
   }
   
   .xp__texto {
      padding-bottom: 0.5rem;
      font-size: 0.9rem;
   }

   .xp__repo {
      max-height: 40px;
      font-size: 0.9rem;
   }

   .xp__botao--repo {
      padding: 0.6rem 0.6rem;
   }

   .xp__demo {
      max-width: 96px;
      width: 100%;
      max-height: 40px;
      font-size: 0.9rem;
   }

   .xp__botao--demo {
      padding: 0.6rem 0.6rem;
   }
   
}