section.cursos {
   align-items: center;
   align-self: stretch;
   background: var(--cor-de-fundo2);
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-bottom: 2rem;
   padding: 5.12rem 5.12rem  7rem 5.12rem;
   }
 
 .cursos__titulo {
   font-size: 2rem;
   font-weight: bold;
 }
 
 .cursos__academicos {
   align-items: center;
   display: flex;
   gap: 0.625rem;
   justify-content: center;
   height: auto;
 }
 
 .cursos__academicos--box {
    background: var(--branco);
    height: 16rem;
    padding: 1rem;
    width: 30%;

 }
 

 .cursos__academicos--lista {
   display: flex;
   flex-direction: column;
    width: auto;
    height: auto;
    align-items: flex-start;
 }
 
 .cursos__academicos--item--imagem {
   width: auto;
   height: auto;
   flex-shrink: 1;
   padding-left: 15%;
   padding-top: 5.5rem;
 }
 

 .cursos__academicos--item--titulo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: -5%;
    margin-top: 5.5rem;
 }

.cursos__academicos--item--subtitulo {
   margin-left: -5%;
   padding-top: 0.5rem;
}

 @media (max-width: 768px) {
   .cursos__titulo {
      font-size: 1.3rem;
   }

   .cursos__academicos--box {
      height: 4.375rem;
      width: 12rem;
   }

   .cursos__academicos--item--imagem {
      padding-left: 28%;
      padding-top: 1rem;
   }

   .cursos__academicos--item--imagem img {
      width: 5.25rem;
   }


   .cursos__academicos--item--titulo {
      font-size: 1rem;
      margin-top: 2rem;
   }

   .cursos__academicos--item--subtitulo {
      font-size: 0.9rem;
   }
   
}

@media (max-width: 425px) {
   section.cursos {
      padding: 2rem;
   }

   .cursos__academicos {
      flex-direction: column;
   }

   .cursos__academicos--box {
      margin-bottom: 4rem;
   }
   
}