section.menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
    padding: 2rem 0;
 }
 
 .cabecalho {
    display: flex;
 }

 .cabecalho img {
    height: auto;
    max-height: 1.5rem;
    max-width: 1.5rem;
    width: auto;
 }
 
 .cabecalho__nome {
    align-self: center;
    font-weight: bold;
    padding: 0 0.7rem;
 }
 
 .menu__lista {
    display: flex;
 }
 
 .menu__lista--item {
    padding: 0 2rem;
 }
 
 .menu__lista--contato {
    font-weight: bold;
 }


@media (max-width: 768px) {

   section.menu{
      margin: 0;
      padding: 1rem 0 0;
   }
      
   .cabecalho {
      padding-left: 2rem;
   }

   .menu__lista--item {
        display: none;
     }
   .menu__lista--contato {
        display: flex;
        font-weight: 400;
     }
    
}

@media (max-width: 425px) {
   .cabecalho {
      padding-left: 1rem;
   }
   
   .menu__lista--contato {
      font-size: 0.9rem;
      padding-right: 1rem;
   }

}